body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

* {
    box-sizing: border-box;
    -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
    transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
}

.card {
    position: relative;
    border-radius: 3px;
    /*background-color: #fff;*/
    color: #4f5256;
    border: 1px solid #f2f2f2;
    margin-bottom: 16px;
    background: #fff;
}

.card-header {
    padding: 16px;
    margin: 0;
}

.card-body {
    position: relative;
    padding: 16px;
}

.gaadiex-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.gaadiex-list-item {
    padding: 0 22px;
}

.gaadiex-list-item-img {
    float: left;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}

.gaadiex-list-item i {
    float: left;
    font-size: 48px;
    width: 58px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: 20px;
    border-radius: 50%;
}

.border-b-1 {
    border-bottom: 1px solid rgba(162, 162, 162, .16);
}


.rela-block {
    display: block;
    position: relative;
    margin: auto;

}

.rela-inline {
    display: inline-block;
    position: relative;
    margin: auto;

}

.floated {
    display: inline-block;
    position: relative;

    float: left;
}

.floated.right {
    float: right;
}

.abs-center {

    position: absolute;

    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 88%;
}

.vert-center {

    position: absolute;

    top: 50%;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horz-center {

    position: absolute;

    left: 50%;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.blurred {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.overlay {
    z-index: -1;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    opacity: 0;
}

.overlay.active {
    z-index: 100;
    opacity: 1;
}

.overlay.active .overlay-image {
    opacity: 1;
}

.overlay-card {
    height: 75vh;
    min-height: 400px;
    width: calc(92% - 40px);
    max-width: 1086px;
    padding-left: 30px;
    background-color: #f4f4f4;
    border-radius: 2px;
    overflow: hidden;
}

.overlay-image {
    height: 100%;
    width: 480px;
    opacity: 0;
    -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), opacity 0.2s 0.3s ease;
    transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), opacity 0.2s 0.3s ease;
}

.overlay-desc {
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 20px;
    height: calc(100% - 40px);
    margin: 20px;
    border-left: 1px solid #ccc;
    width: calc(100% - 520px);
    padding: 20px 20px 20px 40px;
    overflow-x: hidden;
    overflow-y: auto;
}

.overlay-desc::-webkit-scrollbar {
    width: 6px;
}

.overlay-desc::-webkit-scrollbar-thumb {
    background-color: #999;
}

.post-image {
    height: 100%;
    max-height: 400px;
    width: 480px;
    border: 20px solid #fff;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.25);
    background-size: cover !important;
    cursor: pointer;
}

.desc-title {
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 5px;
}

.desc-author {
    font-family: "Montserrat";
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    margin-bottom: 10px;
}

.close {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    color: #444;
    padding: 5px;
}

.nav-bar {

    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 10;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
}

.nav-container {
    width: 100%;
    max-width: 1400px;
}

.logo {
    font-family: "Yellowtail";
    font-size: 34px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 70px;
    margin: 0 30px;
    cursor: pointer;
}

.logo:hover {
    color: #2ebaae;
}

.nav-div {
    font-family: "Roboto";
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 24px;
    height: 70px;
    line-height: 70px;
    margin: 0 10px;
    color: #999;
    overflow: hidden;
}

.nav-div li {
    padding: 0 9px;
    cursor: pointer;
}

.nav-div li:hover {
    color: #2ebaae;
}

.nav-links {
    margin: 0;
    width: 450px;
}

.search-container {
    padding-right: 15px;
    margin-left: 0;
}

.sign-div {
    margin: 0;
    width: 238px;
    -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), opacity 0.15s 0.3s cubic-bezier(0.75, 0, 0.2, 1);
    transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), opacity 0.15s 0.3s cubic-bezier(0.75, 0, 0.2, 1);
}

.sign-div li {
    padding: 0 0 0 20px;
}

.sign-div.active {
    width: 0;
    opacity: 0;
    -webkit-transition: 0.15s cubic-bezier(0.75, 0, 0.2, 1), width 0.3s 0.15s cubic-bezier(0.75, 0, 0.2, 1);
    transition: 0.15s cubic-bezier(0.75, 0, 0.2, 1), width 0.3s 0.15s cubic-bezier(0.75, 0, 0.2, 1);
}

.icon {
    height: 40px;
    width: 40px;
    margin: 0 6px;
    vertical-align: middle;
    cursor: pointer;
    background-size: 30px !important;
}

.icon.search-icon {
    background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png") no-repeat;
    background-position: 3px 3px;
}

.nav-search {
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 20px;
    border: none;
    border-bottom: 1px solid #999;
    width: 0;
}

.nav-search:focus {
    outline: none;
}

.nav-search.active {
    width: 180px;
    -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), width 0.3s 0.15s cubic-bezier(0.75, 0, 0.2, 1);
    transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), width 0.3s 0.15s cubic-bezier(0.75, 0, 0.2, 1);
}

.menu-card {
    position: fixed;
    top: 72px;
    left: 420px;
    font-family: "Montserrat";
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 20px;
    z-index: 15;
    height: 200px;
    width: 280px;
    overflow: hidden;
    box-shadow: 0 2px 18px -4px rgba(0, 0, 0, 0);
    border-radius: 2px;
    -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.2s ease;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.2s ease;
    pointer-events: none;
}

.menu-card.active {
    box-shadow: 0 5px 18px -3px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s 0.25s ease;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s 0.25s ease;
    pointer-events: auto;
}

.menu-background {
    height: 0;
    width: 0;
    top: 5%;
    left: 93%;
    border-radius: 100%;
    background-color: #fff;
}

.menu-background.active {
    height: 540px;
    width: 540px;
    top: 50%;
    left: 50%;
    -webkit-transition: 0.3s cubic-bezier(0.5, 0, 0.2, 1), height 0.3s cubic-bezier(1, 0.15, 0.6, 1), width 0.3s cubic-bezier(1, 0.15, 0.6, 1);
    transition: 0.3s cubic-bezier(0.5, 0, 0.2, 1), height 0.3s cubic-bezier(1, 0.15, 0.6, 1), width 0.3s cubic-bezier(1, 0.15, 0.6, 1);
}

.menu-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    opacity: 0;
    -webkit-transition: 0.1s ease;
    transition: 0.1s ease;
}

.menu-content.active {
    opacity: 1;
    -webkit-transition: 0.3s 0.3s ease;
    transition: 0.3s 0.3s ease;
}

.menu-links {
    overflow: hidden;
    color: #999;
}

.rela-inline a, .btn-link, .menu-links a {
    text-decoration: none;
    color: #999;
}

.rela-inline a:hover, .btn-link:hover {
    text-decoration: none;
    color: #2ebaae;
}

.menu-links li {
    padding: 4px 10px;
    margin: 4px 0;
    cursor: pointer;
}

.menu-links li:hover {
    color: #2ebaae;
}

.menu-links.sub-nav-links {
    height: 0;
}

.menu-links.sign-links {
    height: 0;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 1140px;
    background-color: #f4f4f4;
    padding: 70px 0;
}

.profile-card {
    width: calc(100% - 40px);
    padding-top: 100px;
    margin: 70px auto 30px;
    background-color: #fff;
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.26);
}

.profile-pic {
    position: absolute;
    top: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 180px;
    width: 180px;
    border: 10px solid #fff;
    border-radius: 100%;
    background: url("https://pbs.twimg.com/media/CdbiubzVIAANj8J.jpg") center no-repeat;
    background-size: cover;
}

.profile-name-container {
    margin: 0 auto 10px;
    padding: 10px;
    text-align: center;
}

.user-name {
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
}

.user-desc {
    letter-spacing: 1px;
    color: #999;
}

.profile-card-stats {
    height: 75px;
    padding: 10px 0;
    text-align: center;
    overflow: hidden;
}

.profile-stat {
    height: 100%;
    width: 33.3333%;
}

.profile-stat:after {
    color: #999;
}

.works::after {
    content: "works";
}

.followers::after {
    content: "followers";
}

.follow::after {
    content: "following";
}

.image {
    width: 240px;
    height: 200px;
    cursor: pointer;
    margin: 0 20px 40px;
    overflow: hidden;
    border-radius: 5px;
    border: 10px solid #fff;
    /*box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.26);*/
    /*background-color: rgba(0, 0, 0, 0.4);*/
    background-size: cover !important;
    -webkit-transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
    transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
}

.image:hover {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    box-shadow: 0 2px 18px -2px rgba(0, 0, 0, 0.3);
}

.image.hidden {
    height: 0;
    width: 0;
    margin: 0;
    border: 0 solid #fff;
}

.button {
    font-family: 'Montserrat';
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 900;
    line-height: 12px;
    min-width: 200px;
    padding: 20px 20px;
    color: #444;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #bbb;
    margin: 20px 20px;
    background-color: white;
}

.button:hover {
    color: #2ebaae;
    border: 1px solid #2ebaae;
}

.button.inactive {
    color: #bbb;
    cursor: default;
}

.button.inactive:hover {
    color: #bbb;
    border: 1px solid #bbb;
}

.footer {
    min-height: 80px;
    border-top: 1px solid #d6d6d6;
    background-color: #fff;
    padding: 30px 40px;
    text-align: center;
    overflow: hidden;
}

.menu-toggle {
    display: none;
}

@media screen and (max-width: 1300px) {
    .container {
        max-width: 855px;
    }

    .overlay-card {
        max-width: 803px;
        padding: 0;
    }

    .overlay-image {
        height: 68%;
        width: 100%;
    }

    .overlay-desc {
        width: 100%;
        height: 32%;
        margin: 0;
        padding: 20px 40px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: 564px;
    }

    .overlay-card {
        max-width: 522px;
        min-width: 310px;
    }

    .overlay-image {
        width: 100%;
        height: 55%;
        max-height: 1000px;
        margin: 0;
    }

    .post-image {
        width: 396px;
        height: 330px;
        border: 0 solid #fff;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        background-size: contain !important;
    }

    .overlay-desc {
        width: 100%;
        height: 45%;
        padding: 20px;
    }

    .nav-links {
        width: 0;
    }

    .menu-background {
        left: 8%;
    }

    .menu-card {
        left: 2px;
        height: 360px;
    }

    .menu-content .sub-nav-links {
        height: 164px;
        border-bottom: 1px solid #ccc;
    }

    .menu-toggle {
        display: block;
    }
}

@media screen and (max-width: 630px) {
    .image {
        width: calc(100% - 40px);
        height: 0;
        padding-bottom: 60%;
    }

    .menu-content .sign-links {
        height: 64px;
        border-top: 1px solid #ccc;
    }

    .menu-card {
        height: 425px;
    }

    .sign-div {
        width: 0;
    }

    .nav-search.active {
        -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1);
        transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1);
    }
}

@media screen and (max-width: 550px) {
    .overlay-card {
        height: 500px;
    }

    .post-image {
        width: 80%;
        max-width: 288px;
        height: 240px;
    }

    .overlay-desc {
        padding: 14px;
    }

    .profile-card-stats {
        height: 0;
        padding: 0;
    }

    .profile-pic {
        height: 140px;
        width: 140px;
        top: -70px;
    }

    .profile-card {
        padding-top: 70px;
        margin: 50px auto 30px;
    }
}

.album-img {
    width: 100%;
    height: 100%;
    float: left;
    background-size: cover;
    position: relative;
}

.opp h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
}

.opp p {
    position: absolute;
    bottom: 84%;
    left: 10px;
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 8px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
}
.opp p {
    background: rgba(255, 255, 255, 0.75);
    color: black;
}
.opp h2 {
    background: rgba(255, 255, 255, 0.75);
    color: black;
}































body{
    margin-top:20px;
    background:#f5f5f5;
}
/* ===========
   Profile
 =============*/
.card-box {
    padding: 20px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.02);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #ffffff;
}
.header-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 16px;
    margin-bottom: 8px;
}
.social-links li a {
    -webkit-border-radius: 50%;
    background: #EFF0F4;
    border-radius: 50%;
    color: #7A7676;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}

/* ===========
   Gallery
 =============*/
.portfolioFilter a {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-out;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    color: #333333;
    padding: 5px 10px;
    display: inline-block;
    transition: all 0.3s ease-out;
}
.portfolioFilter a:hover {
    background-color: #228bdf;
    color: #ffffff;
}
.portfolioFilter a.current {
    background-color: #228bdf;
    color: #ffffff;
}
.thumb {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
}
.thumb-img {
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
}
.gal-detail h4 {
    margin: 16px auto 10px auto;
    width: 80%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gal-detail .ga-border {
    width: 30%;
    margin: 10px auto;
}


.mbp-4 {
  margin-bottom: 4px;
}

.tabs-vertical-env .tab-content {
    background: #ffffff;
    display: table-cell;
    margin-bottom: 30px;
    padding: 30px;
    vertical-align: top;
}
.tabs-vertical-env .nav.tabs-vertical {
    display: table-cell;
    min-width: 120px;
    vertical-align: top;
    width: 150px;
}
.tabs-vertical-env .nav.tabs-vertical li.active > a {
    background-color: #ffffff;
    border: 0;
}
.tabs-vertical-env .nav.tabs-vertical li > a {
    color: #333333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    white-space: nowrap;
}
.nav.nav-tabs > li.active > a {
    background-color: #ffffff;
    border: 0;
}
.nav.nav-tabs > li > a {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #333333 !important;
    cursor: pointer;
    line-height: 50px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}
.nav.nav-tabs > li > a:hover {
    color: #228bdf !important;
}
.nav.tabs-vertical > li > a {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #333333 !important;
    cursor: pointer;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav.tabs-vertical > li > a:hover {
    color: #228bdf !important;
}
.tab-content {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #777777;
}
.nav.nav-tabs > li:last-of-type a {
    margin-right: 0px;
}
.nav.nav-tabs {
    border-bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.navtab-custom li {
    margin-bottom: -2px;
}
.navtab-custom li a {
    border-top: 2px solid transparent !important;
}
.navtab-custom li.active a {
    border-top: 2px solid #228bdf !important;
}
.nav-tab-left.navtab-custom li a {
    border: none !important;
    border-left: 2px solid transparent !important;
}
.nav-tab-left.navtab-custom li.active a {
    border-left: 2px solid #228bdf !important;
}
.nav-tab-right.navtab-custom li a {
    border: none !important;
    border-right: 2px solid transparent !important;
}
.nav-tab-right.navtab-custom li.active a {
    border-right: 2px solid #228bdf !important;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
    border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.tabs-vertical > li.active > a,
.tabs-vertical > li.active > a:focus,
.tabs-vertical > li.active > a:hover {
    color: #228bdf !important;
}

.nav.nav-tabs + .tab-content {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
}
.progress.progress-sm .progress-bar {
    font-size: 8px;
    line-height: 5px;
}


/**
follow css
 */
.btn-follow {
    cursor:pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    border:1px solid #a6a6a6;
    border-top-color:#bdbdbd;
    border-bottom-color:#8b8a8b;

    padding:9px 14px 9px;

    color:#666666;
    font-size:11px;
    background-position:0px 0px;

    text-shadow: 0 1px 0 #fff;
    font-weight:bold;

    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e8e8)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #ffffff, #e8e8e8); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #ffffff, #e8e8e8); /* IE10 */
    background-image:      -o-linear-gradient(top, #ffffff, #e8e8e8); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #ffffff, #e8e8e8);

    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);


}

.btn-follow:hover {
    color:#333;
    border-color:#999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #ffffff, #f6f6f6); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #ffffff, #f6f6f6); /* IE10 */
    background-image:      -o-linear-gradient(top, #ffffff, #f6f6f6); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #ffffff, #f6f6f6);
}
.btn-follow:active{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#ffffff)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e8e8e8, #ffffff); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #e8e8e8, #ffffff); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #e8e8e8, #ffffff); /* IE10 */
    background-image:      -o-linear-gradient(top, #e8e8e8, #ffffff); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #e8e8e8, #ffffff);
}
.btn-follow:focus {
    outline: none;
    border-color:#BD4A39;
}


/* Follow Button Styles */
.following::after {
    content: none;
}
button.followButton{
    width:160px;
}
button.followButton.following{
    background-color: #57A957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57A957 #57A957 #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#fff;
}
button.followButton.unfollow{
    background-color: #C43C35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #C43C35 #C43C35 #882A25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/**
rating star
 */
.txt-center {
    text-align: center;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #bbb4b4;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}




















